@import "profile_nav.css";
@import "profile_main.css";
@import "profile_buttons.css";
@import "stories.css";
@import "modal.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('Billabong.woff') format('woff');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #fafafa;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.login_back {
  background-image: url("img/background.png");
  background-position: 0 0;
  background-size: 454px 618px;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
  align-self: center;
  display: none;
  background-repeat: no-repeat;
}

.login_front {
  display: none;
  margin: 99px 0 0 151px;
  position: relative;
}

.image_main {
  height: 427px;
  left: 0;
  /* opacity: 0; */
  position: absolute;
  top: 0;
  /* visibility: hidden; */
  width: 240px;
}

.image_switch {
  height: 427px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 240px;
}

h1 {
  font-family: 'Billabong';
  height: 51px;
  width: 175px;
  align-self: center;
  text-align: center;
  margin: 22px auto 12px;
  font-size: 4em;
  font-weight: normal;
}

h2 {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 44px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_message {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  justify-content: center;
  background-color: #ffff;
  padding-top: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
}

.login_message p {
  margin: 10px 60px;
  margin-bottom: 20px;
}

.fb_icon {
  margin-right: 8px;
  position: relative;
  top: 1px;
  height: 16px;
  width: 16px;
}

.or_outer {
  margin: 10px 40px 18px;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  display: flex;
}

.or_inner {
  color: #999;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
}

.or_side {
  background-color: #efefef;
  height: 1px;
  position: relative;
  top: .45em;
  flex-grow: 1;
  flex-shrink: 1;
}

.input_first {
  margin: 0 40px 6px;
}

.input_second {
  background: #fafafa;
  flex-direction: row;
  font-size: 14px;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #efefef;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  color: #262626;
  align-items: center;
  border-radius: 3px;
  -webkit-box-align: center;
}

.input_third {
  height: 36px;
  -webkit-box-flex: 1;
  flex: 1 0 0;
  padding: 0;
  position: relative;
  margin: 0;
  min-width: 0;
}

label {
  color: #999;
  font-size: 12px;
  height: 36px;
  left: 8px;
  line-height: 36px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  transform-origin: left;
  user-select: none;
  white-space: nowrap;
  display: flex;
}

.label_move {
  font-size: .5em;
  top: -13px;
}

.input_login {
  border: 0;
  -webkit-box-flex: 1;
  flex: 1 0 0px;
  margin: 0;
  outline: 0;
  width: 100%;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 18px;
  display: flex;
}

.input_login::placeholder {
  color: #999;
  font-size: 12px;
}

.intro img {
  height: 40px;
}

.intro p {
  color: #999;
}

.intro p a {
  font-weight: bold;
  color: #999;
}

.sub_intro {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
  -webkit-box-align: stretch;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  max-width: 350px;
  width: 100%;
}

.sub_intro p {
  color: #262626;
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.sub_intro p a {
  color: #3897f0;
  font-weight: normal;
}

.sub_intro_2 p {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px;
  text-align: center;
}

button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button_placement {
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 8px;
}

footer {
  -webkit-box-ordinal-group: 6;
  order: 5;
  padding: 0 20px;
  display: -webkit-flex;
  justify-content: center;
}

.foot_bar {
  max-width: 935px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  /* width: 100%; */
  padding: 10px 0;
  text-align: center;
}

.navigation_bottom {
  text-align: center;
  width: 100%;
}

.navigation_bottom ul {
  margin: 0 auto;
  width: 360px;
}

.navigation_bottom ul li {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
}

.navigation_bottom ul li a {
  color: #003569;
}

.copyright {
  color: #999;
  text-align: center;
}

.transition_class {
  -webkit-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  z-index: 2;
}

.visibility_class {
  opacity: 1;
  visibility: visible;
}

/* --------------------------
  Media Queries
--------------------------- */
@media (min-width: 769px) {
  .login_back {
    display: flex;
  }

  .login_front {
    display: flex;
  }

  .navigation_bottom {
    display: flex;
    flex-direction: row;
  }

  footer {
    justify-content: center;
  }

  .navigation_bottom ul {
    margin: 0;
    width: auto;
  }

  .foot_bar {
    margin: 0;
    padding-bottom: 40px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
  }
}

@media (max-width: 320px) {
  .navigation_bottom ul {
    width: 100%;
  }
}